################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/ServiceMonitor.BL/bin/Debug
/ServiceMonitor.BL/obj
/ServiceMonitor.Entity/bin/Debug
/ServiceMonitor.Entity/obj
/ServiceMonitor.MonitorService/bin/Debug
/ServiceMonitor.MonitorService/obj
/ServiceMonitor.Web/bin
/ServiceMonitor.Web/obj
/ServiceMonitor.BL/bin/Release
/ServiceMonitor.Entity/bin/Release
/ServiceMonitor.MonitorService/bin/Release
/ServiceMonitor.Web.Tests/bin
