@{
    ViewBag.Title = "Service Dashboard";
}


<script type="text/x-kendo-template" id="service-template">
    <div class="service-wrapper" data-status="#:dashboardApp.getThreasholdLevel(LastUpdateTime,WarningLevel,ErrorLevel)#">
        <div class="service-details">
            <h2><strong>#:Name#</strong></h2>
            @*<h2><strong style="color:yellow;">#:LastUpdateTime#</strong></h2>*@
            <h4>#=kendo.toString(dashboardApp.getLocalDatetime(LastUpdateTime),'yyyy-MM-dd HH:mm:ss')#</h4>
            <h4>#=dashboardApp.getTimeGap(dashboardApp.getLocalDatetime(LastUpdateTime))#</h4>
        </div>
        <div class="service-icons">
            <div>
                <strong><i class="fa fa-tachometer fa-3x"></i></strong>
            </div>
            <div>
                #if(dashboardApp.getThreasholdLevel(LastUpdateTime,WarningLevel,ErrorLevel)=='Ok'){#
                <strong style="color:lime"><i class="fa fa-heartbeat fa-3x"></i></strong>
                #} else if(dashboardApp.getThreasholdLevel(LastUpdateTime,WarningLevel,ErrorLevel)=='Warning'){#
                <strong style="color:orange"><i class="fa fa-heart fa-3x faa-pulse animated"></i></strong>
                #} else {#
                <strong style="color:\\#ff3448"><i class="fa fa-heart fa-3x faa-flash animated"></i></strong>
                #}#
            </div>
        </div>
    </div>
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="dashboard-wrapper">
                <div style="text-align: center;position: fixed;top: 0;left: 0;height: 45px;z-index: 1000;display: block;width: 100%">
                    <span class="h3" data-bind="text:lastRefreshed"></span>
                    <button data-role="button"
                            data-bind="events: { click: onClick }"
                            style="width: 180px">
                        Show All/Hide Ok items
                    </button>
                </div>

                <div data-role="listview"
                     data-template="service-template"
                     data-bind="source: items"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/kendo/jquery.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/kendo.modernizr.custom.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/humanize-duration.js"></script>

    
    <script>
        var model = {};
        var showAll = false;

        var dashboardApp = function() {
            var createDataSource = function (data) {
                model = kendo.observable({
                    items: new kendo.data.DataSource({
                        data: showAll ?  data.items : jQuery.grep(data.items, function( n, i ) {
                            return (getThreasholdLevel(n.LastUpdateTime, n.WarningLevel, n.ErrorLevel) != 'Ok' );
                        }),
                        schema: {
                            model: {
                                id: "Id"
                            }
                        }
                    }),
                    lastRefreshed: new Date(),

                    onClick: function() {
                        showAll = !showAll;
                        read();
                    }
                });
            };
            var read = function() {
                    $.get("@Url.HttpRouteUrl("ActionApi", new {controller = "Services", action = "GetAllWithDetails"})")
                        .done(function(msg) {
                            createDataSource(msg);
                        })
                        .fail(function(msg) {
                            //console.log(msg);
                            model = kendo.observable({
                                items: new kendo.data.DataSource({
                                    data: msg,
                                    schema: {
                                        model: {
                                            id: "Id"
                                        }
                                    }
                                }),
                                lastRefreshed: new Date()
                            });
                        }).always(function(msg) {
                            kendo.bind('#dashboard-wrapper', model);
                        });
                },
                getTimeGap = function(time) {
                    return humanizeDuration(new Date() - moment(time).toDate(),
                        { units: ['d', 'h', 'm', 's'], round: true });
                },
                getLocalDatetime = function(time) {
                    var stillUtc = moment.utc(time).toDate();
                    return moment(stillUtc).local().format('YYYY-MM-DD HH:mm:ss');
                },
                getThreasholdLevel = function(time, warningLevel, errorLevel) {

                    var minutes = moment.utc().diff(moment.utc(time), 'minutes');
                    if (warningLevel > minutes) {
                        return "Ok";
                    } else if (errorLevel > minutes && warningLevel <= minutes) {
                        return "Warning";
                    } else {
                        return "Error";
                    }
                },
                init = function() {
                    read();
                }

            return {
                init: init,
                getTimeGap: getTimeGap,
                getLocalDatetime: getLocalDatetime,
                getThreasholdLevel: getThreasholdLevel
            }
        }();

        $(document)
            .ready(function() {
                dashboardApp.init();
                setInterval(function(){
                    dashboardApp.init();
                    $("html, body").animate({ scrollTop: $(document).height() - $(window).height() }, 30000);
                    setTimeout(function() {
                        $('html, body').animate({scrollTop:0}, 30000);
                    },30000);

                },60000);
            });
    </script>
}